{% extends 'VolleyFaceBundle::layout.html.twig' %}

{% block content %}


    <div class="section tours">

        <div class="container">

            <div class="row" id="tours">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="circle">
                        <h2><i class="fa fa-check-circle"></i> Тур 1</h2>
                        <p>27-28 червня</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="circle">
                        <h2><i class=""></i> Тур 2</h2>
                        <p>12-13 липня</p>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="circle">
                        <h2><i class=""></i> Тур 2</h2>
                        <p>24-25 серпня</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="section man medals">

        <div class="container">

            <h1 class="main_title text-center"> Чоловічі змагання </h1>

            <hr/>

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="medals" src="/uploads/images/men_1_sm.jpg">
                    <h3 class="text-center">1 місце</h3>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-gold">1</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Антон Артемчук</div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-gold">2</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Андрій Левченко</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="medals" src="/uploads/images/men_2_sm.jpg">
                    <h3 class="text-center">2 місце</h3>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-silver">1</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Роман Середа</div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-silver">2</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Євген Мурований</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="medals" src="/uploads/images/men_3_sm.jpg">
                    <h3 class="text-center">3 місце</h3>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-bronze">1</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Роман Романенко</div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-bronze">2</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Максим Булатецький</div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="section woman medals">

        <div class="container">

            <h1 class="main_title text-center"> Жіночі змагання </h1>

            <hr>

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <img class="medals" src="/uploads/images/woman_1_sm.jpg">
                    <h3 class="text-center">1 місце</h3>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-gold">1</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Аня Ніколаєва</div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-gold">2</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Леся Наумейко</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="medals" src="/uploads/images/woman_2_sm.jpg">
                    <h3 class="text-center">2 місце</h3>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-silver">1</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Яна Каган</div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-silver">2</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Іра Ходосовська</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img class="medals" src="/uploads/images/woman_3_sm.jpg">
                    <h3 class="text-center">3 місце</h3>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-bronze">1</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Даша Аль-Ашкар</div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-2 col-md-2 col-sm-2"><div class="circle circle-bronze">2</div></div>
                        <div class="col col-lg-10 col-md-10 col-sm-10">Альона Харченко</div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->


    <div class="section">

    <div class="container">

        <div class="row">

            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x350">
                </a>
            </div>

            <div class="col-md-5">
                <h3>Project Name</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <a class="btn btn-primary" href="portfolio-item.html">View Project <i class="fa fa-angle-right"></i></a>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x350">
                </a>
            </div>

            <div class="col-md-5">
                <h3>Project Name</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <a class="btn btn-primary" href="portfolio-item.html">View Project <i class="fa fa-angle-right"></i></a>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x350">
                </a>
            </div>

            <div class="col-md-5">
                <h3>Project Name</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <a class="btn btn-primary" href="portfolio-item.html">View Project <i class="fa fa-angle-right"></i></a>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x350">
                </a>
            </div>

            <div class="col-md-5">
                <h3>Project Name</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <a class="btn btn-primary" href="portfolio-item.html">View Project <i class="fa fa-angle-right"></i></a>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/750x350">
                </a>
            </div>

            <div class="col-md-5">
                <h3>Project Name</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <a class="btn btn-primary" href="portfolio-item.html">View Project <i class="fa fa-angle-right"></i></a>
            </div>

        </div>


    </div>

    </div>

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-check-circle"></i> Bootstrap 3 Built</h3>
                    <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-pencil"></i> Ready to Style &amp; Edit</h3>
                    <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-folder-open"></i> Many Page Options</h3>
                    <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="section-colored text-center">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h2>Modern Business: A Clean &amp; Simple Full Website Template by Start Bootstrap</h2>
                    <p>A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.</p>
                    <hr>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Display Some Work on the Home Page Portfolio</h2>
                    <hr>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                    </a>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="section-colored">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Modern Business Features Include:</h2>
                    <ul>
                        <li>Bootstrap 3 Framework</li>
                        <li>Mobile Responsive Design</li>
                        <li>Predefined File Paths</li>
                        <li>Working PHP Contact Page</li>
                        <li>Minimal Custom CSS Styles</li>
                        <li>Unstyled: Add Your Own Style and Content!</li>
                        <li>Font-Awesome fonts come pre-installed!</li>
                        <li>100% <strong>Free</strong> to Use</li>
                        <li>Open Source: Use for any project, private or commercial!</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section-colored -->

    <div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="http://placehold.it/700x450">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>Modern Business Features Include:</h2>
                    <ul>
                        <li>Bootstrap 3 Framework</li>
                        <li>Mobile Responsive Design</li>
                        <li>Predefined File Paths</li>
                        <li>Working PHP Contact Page</li>
                        <li>Minimal Custom CSS Styles</li>
                        <li>Unstyled: Add Your Own Style and Content!</li>
                        <li>Font-Awesome fonts come pre-installed!</li>
                        <li>100% <strong>Free</strong> to Use</li>
                        <li>Open Source: Use for any project, private or commercial!</li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.section -->

    <div class="container">

        <div class="row well">
            <div class="col-lg-8 col-md-8">
                <h4>'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
                <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}